# Lists

In [1]:
list1 = [1,2,3,4,5,6]
list2 = ['Wasi', 'Jawad','Ahmed', 'Ali']
list3 = [123,'This is string', 56.25, 'Country', 0.236]
sequence = 'This is a squence'

### List Functions

In [2]:
len(list3)  # length of a list

5

In [3]:
max(list1)   # Max number in a list

6

In [4]:
min(list1)   # Min number in a list

1

In [5]:
list(sequence)  # We can pass the sequence and make it a list

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 'q',
 'u',
 'e',
 'n',
 'c',
 'e']

### List Methods

In [6]:
list3.append('Append')    #Append in the list
list3

[123, 'This is string', 56.25, 'Country', 0.236, 'Append']

In [7]:
list3.count(123)   #Counts a specific number in a list

1

In [8]:
list2.extend(sequence)   # extends a sequence in a existing list
list2

['Wasi',
 'Jawad',
 'Ahmed',
 'Ali',
 'T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 'q',
 'u',
 'e',
 'n',
 'c',
 'e']

In [9]:
list2.index('Ahmed')  # Tells the index of a specific element in a list

2

In [10]:
list3.insert(3,'inserted element')   # insert an object in a list
list3

[123, 'This is string', 56.25, 'inserted element', 'Country', 0.236, 'Append']

In [11]:
list3.pop()  # pops out the last entry
list3

[123, 'This is string', 56.25, 'inserted element', 'Country', 0.236]

In [12]:
list2.remove('Ali')  # Deletes the specific element in a list
list2

['Wasi',
 'Jawad',
 'Ahmed',
 'T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 'q',
 'u',
 'e',
 'n',
 'c',
 'e']

In [13]:
list1.reverse()  #Reverses the numeric list
list1

[6, 5, 4, 3, 2, 1]

In [14]:
list1.sort()  # Sorts the list
list1

[1, 2, 3, 4, 5, 6]

### Two Dimensional Lists

In [15]:
TwoDimenList = [[1,2,3],[4,5,6],[7,8,9]]

In [16]:
for list in TwoDimenList:
    for item in list:
        print(item, end=" ")
    print()

1 2 3
4 5 6
7 8 9

# Tuples

In [17]:
tup1 = (1,2,3,4,5,6)
tup2 = ('Wasi', 'Jawad','Ahmed', 'Ali')
tup3 = (123,'This is string', 56.25, 'Country', 0.236)
seq = 'This is a squence'

### Tuple Functions

In [18]:
len(tup1)  # Length of a tuple

6

In [19]:
max(tup1)   # Max number in a tuple

6

In [20]:
min(tup1)   # Min number in a tuple

1

In [21]:
tuple(list3)  # We can pass the sequence and make it a tuple

(123, 'This is string', 56.25, 'inserted element', 'Country', 0.236)

# Dictionaries

In [22]:
Dict1 = {'Book': 'Sherlock', 'Author': 'Arthur Conan', 'Chapters': 12, 'Pages': 850}

### Dictionary Functions

In [23]:
del Dict1['Pages']   # Deletes the key
Dict1

{'Book': 'Sherlock', 'Author': 'Arthur Conan', 'Chapters': 12}

In [24]:
len(Dict1)  # Length of dictionary

3

In [25]:
str(Dict1)   # Dictionary in the form of a string

"{'Book': 'Sherlock', 'Author': 'Arthur Conan', 'Chapters': 12}"

In [26]:
type(Dict1)  # Checking Type

dict

In [27]:
Dict1.items()  # Printing items of dictionary

dict_items([('Book', 'Sherlock'), ('Author', 'Arthur Conan'), ('Chapters', 12)])

In [28]:
Dict1.keys()  #Printing Keys of a dictionary
Dict1.values()  #Printing Values of a dictionary

dict_values(['Sherlock', 'Arthur Conan', 12])

In [29]:
'Book'in Dict1    #Checking keys and values in a dictionary

True

#### For loop in  a dictionary

In [30]:
Dict1 = {'Book': 'Sherlock', 'Author': 'Arthur Conan', 'Chapters': 12, 'Pages': 850}
for item in Dict1:
    print(item)

Book
Author
Chapters
Pages

In [31]:
for item in Dict1:
    print(item, ":", Dict1[item])

Book : Sherlock
Author : Arthur Conan
Chapters : 12
Pages : 850

In [32]:
for item in Dict1.items():
    print(item, type[item])

('Book', 'Sherlock') type['Book', 'Sherlock']
('Author', 'Arthur Conan') type['Author', 'Arthur Conan']
('Chapters', 12) type['Chapters', 12]
('Pages', 850) type['Pages', 850]

In [33]:
for keys,values in Dict1.items():
    print(keys, ":", values)

Book : Sherlock
Author : Arthur Conan
Chapters : 12
Pages : 850